@font-face /* Define fuentes personalizadas */
{
  font-family: 'Simpsons';
  src: url('./assets/simpsonfont/Simpsonfont.ttf') format('truetype'); 
}
@font-face /*define fuentes personalizadas */
{
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Bold.ttf format')('truetype'); 
}  


body {
    background-color: #9bd6f3;
    font-family: Roboto;
    font-weight: 400;
    margin: 10px; 
}

@keyframes moveCloud {
    0% { transform: translateX(-40px) translateZ(0); opacity: 0.8; }
    50% { transform: translateX(30px) translateZ(0); opacity: 1; }
    100% { transform: translateX(-40px) translateZ(0); opacity: 0.8; }
}

  
 
.texto-simpsons{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    h1 {
        font-weight: bold; 
        font-family: Simpsons;
        color: #FFE100; 
        -webkit-text-stroke-width: 1px; 
        -webkit-text-stroke-color: black; 
        font-size: 100px; 
        text-align: center; 
        padding: 20px;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
    img{
        animation: moveCloud 10s ease-in-out infinite; 

    }
    }
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    column-gap: 30px; 
    row-gap: 10px; 
    padding: 10px; 
}
.character-box {
    border: 4px solid hwb(142 20% 23%);
    border-radius: 10px;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    img {
        width: 80px; 
        height: auto;
        margin-bottom: 5px; 
    }
}
.segundo {
    text-align: center; 
    button {
        margin: 32px 10px 16px; 
        padding: 12px 24px; 
        background-color: #16a085;
        color: #fbf9f0;
        border-color: #040505;
        background-color: #16a085;
        border-radius: 5px; 
        cursor: pointer;
        font-size: 16px; 
        &:hover {
            opacity: 0.7; 
        }
       
    }
}


.search-section {
    margin :2rem 5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    

    input {
        padding: 7px;
        margin-right: 10px;
        margin-left: 4px;
    }

    button {
        padding: 8px 16px;
        border-radius: 5px;
        border-color: #040505;
        background-color: #007bff;
        color: white;
        cursor: pointer;

        &:hover {
            opacity: 0.7; 
        }
    }
}

#html-spinner{
    position: absolute;
    left: 44%;
    top: 60%;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 2.5s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2.5s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 2.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
  }
  
  @-moz-keyframes rotate {
      from {-moz-transform: rotate(0deg);}
      to {-moz-transform: rotate(360deg);}
  }
  
  @keyframes rotate {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  
  